.container {
  display: flex;
  flex-direction: column;
}

.log {
  color: black;
}

.error {
  color: red;
}

.log-container {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
}

.log-timestamp {
  min-width: 200px;
  max-width: 200px;
}

.log-message {
  margin-left: 10px;
}
